<header id = "block_0">
  <div id = "container_00" class = "container">
    <nav>
      <ul>
        <!--<li><a href = '/comments' target = '_blank'>COMMENTS</a></li>
          <li><a href = '/photos' target = '_blank'>PHOTOS</a></li>
          <li><a href = '/albums' target = '_blank'>ALBUMS</a></li>
          <li><a href = '/posts' target = '_blank'>POSTS</a></li> -->
          <li><a href = '/users' target = '_blank'>USERS</a></li>
        </ul>
    </nav>
  </div>
</header>

<section id = "block_1">
  <div id = "container_01" class = "container">
    <section id = "section_00">
      <img src="/assets/img/JPHLogo.png" alt="JPHLogo.png" width="100" height="100"/>
    </section>
    <section id = "section_01">
      <h1>JSONPlaceholder</h1>
    </section>
    <section id = "section_11">
      <p>JSONPlaceholder is a free online REST API that you can use whenever you need some fake data.
        It's great for tutorials, testing new libraries, sharing code examples, ...</p>
    </section>
  </div>
</section>
